

/*font-family: 'Bangers', cursive;*/
/*font-family: 'Cabin Sketch', cursive;*/
/*font-family: 'Freckle Face', cursive;*/
/*font-family: 'Press Start 2P', cursive;*/
*{
  box-sizing: border-box;
}
body{
  height: 100vh;
  width: 100%; 
  overflow: hidden;
}

/* SELECT SCREEN ============================================================*/
.header{

background: linear-gradient(to bottom, #0a0618 0%,#261c53 100%); 
  position: fixed;
  color: white;
  font-size: 28px;
  border-bottom: 2px solid #4B37A3;
  width: 100%;
  position: absolute;
}
.header .mode{
  float: left;
  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
  padding: 15px;
}
.header .title{
  font-family: 'Press Start 2P', cursive;
  font-size: 32px;
  padding: 15px;
  text-align: center;
}
.select-screen{
  position: relative;
}
.selector{
  border: red 5px solid;
  
  position: absolute;
}
.select-screen .main{
background: linear-gradient(to right, #76590b 0%,#cf9c11 10%,#ecb414 23%,#fafa74 35%,#fafafa 50%,#fafa74 65%,#ecb414 77%,#cf9c11 90%,#76590b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
width: 100%;
padding: 100px 50px;
overflow: auto;
display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  transition: top .5 ease-in-out;
}

.select-screen .main .title{
  position: absolute;
  top:0;
  width: 100%;
  background: black;
  color: white;
  font-family: 'Press Start 2P', cursive;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  
}

.select-screen .main .character{
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 3px solid #000;
  float: left;
  margin: 0 25px;
  transition: background .4s ease-in-out;
}
.select-screen.main.character{
  background: black;
  position: relative;
}
.select-screen .main .character.charmander{
  background: #FA7A47;
}
.select-screen .main .character.bulbasaur{
  background: #6BFA83;
}
.select-screen .main .character.squirtle{
  background: #64B2FA;
}
.select-screen .main .character:hover{
 background: whitesmoke;
}


/* BATTLE SCREEN ============================================================*/

#battle-screen{
    background: url(//i.imgur.com/UZKEjzG.png) no-repeat center center; 
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  width: 100%;
    padding: 100px 50px;
    overflow: auto;
      height: 100vh;
      position: relative;
      top:0;
      transition: all .2 ease-in-out;
}


#battle-screen.active{
  top:-100vh;
}


#battle-screen .fight-btn{
  font-family: 'Bangers', cursive;
  text-transform: capitalize;
  font-size: 200px;
  text-align: center;
}
#battle-screen .battle-btns{
  text-align: center;
  vertical-align: top;
}


#battle-screen .battle-btns .leaf{
  font-family: 'Press Start 2P', cursive;
  background: #AD6101;
  font-size: 10px;
  display: inline-block;
  height: 100px;
  width: 100px;
  text-align: center;
  color: white;
  border-radius: 15px;
  padding: 10px;
  border-top: 2px solid #DE7C01;
  border-left: 2px solid #DE7C01;
  border-right: 2px solid #DE7C01;
  border-bottom: 5px solid #5E3500;
  margin: 0 10px;
  cursor: pointer;
}
#battle-screen .battle-btns .leaf img{
  width: 75px;
  height: 56px;
  margin-bottom: 5px;
}
#battle-screen .battle-btns .water{
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  background: #AD6101;
  display: inline-block;
  height: 100px;
  width: 100px;
  text-align: center;
  color: white;
  border-radius: 15px;
  padding: 10px;
  border-top: 2px solid #DE7C01;
  border-left: 2px solid #DE7C01;
  border-right: 2px solid #DE7C01;
  border-bottom: 5px solid #5E3500;
  margin: 0 10px;
  cursor: pointer;
}
#battle-screen .battle-btns .water img{
  width: 75px;
  height: 56px;
  margin-bottom: 5px;
  cursor: pointer;
}
#battle-screen .battle-btns .fire{
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  background: #AD6101;
  display: inline-block;
  height: 100px;
  width: 100px;
  text-align: center;
  color: white;
  border-radius: 15px;
  padding: 10px;
  border-top: 2px solid #DE7C01;
  border-left: 2px solid #DE7C01;
  border-right: 2px solid #DE7C01;
  border-bottom: 5px solid #5E3500;
  margin: 0 10px;
  cursor: pointer;
}
#battle-screen .battle-btns .fire img{
  width: 75px;
  height: 56px;
  margin-bottom: 5px;
}
 /*Coose your luck */

#battle-screen .choose{

	position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(219,87,5,1);
    font-family: 'Yanone Kaffeesatz';
    font-weight: 700;
    font-size: 2em;
    display: block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    margin-top: 1%;
    margin-left: 43%;
	width: 160px;
	text-align: center;
	
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}
#battle-screen .choose .a:active{

    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;

}


/* PLAYERS ============================================================*/
#battle-screen .player{
  position: absolute;
  bottom: 10%;
  left: 20%;
}

#battle-screen .player img{
  height: 200px;
  -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}
/* player 1 ============================================================*/
#battle-screen .player .player1{
  position: relative;
}
#battle-screen .player .player1 .stats{
  position: absolute;
  background: #F8F8D8;
  top:-140px;
  left: -70px;
  height: 100px;
  width: 300px;
  border-radius: 5px;
  border: 5px solid #506858;
  padding: 15px;
}
#battle-screen .player .player1 .stats .name{
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
}
#battle-screen .player .player1 .stats .level{
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  float: right;
}
#battle-screen .player .player1 .stats .health{
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  background: #506858;
  border-radius: 5px;
  padding: 5px;
  color: #F8AE3E;
  overflow: auto;
  margin: 10px 0 0;
}
#battle-screen .player .player1 .stats .health .title{
  width: 25%;
  display: inline-block;
  float: left;
}
#battle-screen .player .player1 .stats .health .health-bar{
  background: #10120C;
  border-radius: 5px;
  width: 75%;
  display: inline-block;
  height: 16px;
  float: left;
}
#battle-screen .player .player1 .stats .health .health-bar .inside{
  background: #70F8A8;
  border-radius: 5px;
  
  display: inline-block;
  height: 16px;
  float: left;
  transition: all .5s ease-in-out;
}
#battle-screen .player .player1 .stats .health .health-bar{
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
}


/* CPU ============================================================*/
#battle-screen .cpu{
  position: absolute;
  bottom: 10%;
  right: 20%;
}

#battle-screen .cpu .player2{
  position: relative;
}
#battle-screen .cpu .player2 .stats{
  position: absolute;
  background: #F8F8D8;
  top:-140px;
  left: -40px;
  height: 100px;
  width: 300px;
  border-radius: 5px;
  border: 5px solid #506858;
  padding: 15px;
}
#battle-screen .cpu .player2 .stats .name{
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
}
#battle-screen .cpu .player2 .stats .level{
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  float: right;
}
#battle-screen .cpu .player2 .stats .health{
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  background: #506858;
  border-radius: 5px;
  padding: 5px;
  color: #F8AE3E;
  overflow: auto;
  margin: 10px 0 0;
}
#battle-screen .cpu .player2 .stats .health .title{
  width: 25%;
  display: inline-block;
  float: left;
}
#battle-screen .cpu .player2 .stats .health .health-bar{
  background: #10120C;
  border-radius: 5px;
  width: 75%;
  display: inline-block;
  height: 16px;
  float: left;
}
#battle-screen .cpu .player2 .stats .health .health-bar .inside{
  background: #70F8A8;
  border-radius: 5px;
  
  display: inline-block;
  height: 16px;
  float: left;
  transition: all .5s ease-in-out;
}
#battle-screen .cpu .player1 .stats .health .health-bar{
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
}




#battle-screen .cpu img{
  height: 200px;
}


